* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
}
html {
	font: 130% sans-serif;
	line-height: 1.5;
}
body {
	margin: 0;
	-webkit-text-size-adjust: none;
	tab-size: 4;
	display: flex;
	flex-direction: column;
}
body > div { display: flex }
header, main { padding: 0.5em }
main {
	flex-basis: 0;
	flex-grow: 1;
}
header, nav div {
	position: -webkit-sticky;
	position: sticky;
	z-index: 1;
}
header {
	top: 0;
	background: #ddd;
	flex-shrink: 0;
	font-size: 1.75vmin;
	height: 4vmin;
}
body.editpage header { background: #adf }
nav { margin-right: 1em }
nav div {
	max-height: calc(100vh - 4vmin);
	overflow-y: auto;
	top: 4vmin;
	padding: 0.5em 1em;
	background: #ffe;
}
nav div > * { display: block }
nav a {
	white-space: nowrap;
	color: #00f;
}
nav span.l3 { margin-left: 1em }
nav span.l4 { margin-left: 2em }
nav span.l5 { margin-left: 3em }
nav span.l6 { margin-left: 4em }
@keyframes target {
	0%, 30% { background: #f70 }
}
:target {
	margin-top: -4vmin;
	padding-top: 4vmin;
	position: relative;
}
:target::before {
	content: '';
	animation: target 1s;
	position: absolute;
	top: 4vmin; right: 0; bottom: 0; left: 0;
	z-index: -1;
}
body.grey1 .first, body.grey2 .second { opacity: 0.3 }
body.hide1 .first, body.hide2 .second { display: none }
.first { border-left: 2px solid #f00 }
.second { border-left: 2px solid #0f0 }
.first, .second {
	padding-left: 1em;
	transition: opacity 0.2s;
}
.bmar { margin-bottom: 2em }
.ta-cont, .ta-cont * { width: 100% }
.ta-cont {
	position: relative;
	width: 100%;
	min-height: 22em;
	border: none;
	overflow: visible;
}
.ta-cont * {
	position: absolute;
	top: 0; left: 0;
	font-size: 1em;
	font-family: inherit;
	line-height: 1.8;
	white-space: pre-wrap;
	margin: 0;
}
.ta-cont pre {
	padding: 3px;
	visibility: hidden;
}
.ta-cont textarea {
	bottom: 0;
}
h1 { font-size: 1.3em }
h2 { font-size: 1.2em }
h3 { font-size: 1.1em }
q, blockquote { color: #008 }
#editing { color: #888 }
small { color: #666 }