* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
}
html {
	font: 130% sans-serif;
	line-height: 1.5;
}
a, label { cursor: pointer }
body {
	margin: 0;
	-webkit-text-size-adjust: none;
	tab-size: 4;
	display: flex;
	flex-direction: column;
}
body:not(.source) .source, body:not(.controls) .controls, body:not(.brackets) ins::before, body:not(.brackets) ins::after { display: none }
body > div { display: flex }
header, main { padding: 0.5em }
main {
	flex-basis: 0;
	flex-grow: 1;
}
.jumps > span:first-child a { font-weight: bold }
header, nav > div {
	position: -webkit-sticky;
	position: sticky;
	z-index: 1;
}
header {
	top: 0;
	background: #ddd;
	flex-shrink: 0;
	font-size: 1.75vmin;
	height: 4vmin;
}
#time {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 0 1em;
	background: #fef;
	font-family: 'Monaco', monospace;
}
#ptimes {
	display: inline-block;
	font-size: 0.9em;
	line-height: 1.1;
	padding-right: 1em;
}
#maintime {
	font-size: 1.6em;
	vertical-align: bottom;
}
nav { margin-right: 0.5em }
nav > div {
	max-height: calc(100vh - 4vmin);
	overflow-y: auto;
	top: 4vmin;
}
nav > div > div { padding: 0.5em 1em }
#jumps { background: #def }
#ctrls { background: #fed }
.jumps div {
	margin-left: 2px;
	border-left: 1px solid #aaa;
	padding-left: 9px;
}
.jumps .jump-folder {
	color: #080;
	font-size: 0.6em;
}
.jumps span {
	height: 1.3em;
	transition: color 0.3s, height 0.3s;
	overflow: hidden;
}
.jumps span:not(:first-child) a {
	display: inline-block;
	width: 100%;
	transition: color 0.3s, height 0.3s;
}
.jumps div div:not(:hover) div span { height: 0.6em }
.jumps div div:not(:hover) div div span { height: 0.3em }
.jumps div div:not(:hover) span a { color: #bbb }
.jumps div div:not(:hover) div span a { color: #eee }
nav > div div > * { display: block }
nav a {
	white-space: nowrap;
	color: #00f;
	text-decoration: none;
}
.right {
	position: absolute;
	margin-top: 0.5em;
	right: 2em;
	color: #04f;
	font-size: 0.5em;
	text-decoration: underline;
}
.right:not(:nth-child(2)) { margin-top: -1.5em }
.right:active { color: #f00 }
del, ins { text-decoration: none }
@keyframes target {
	0%, 30% { background: #fc8 }
}
main div { padding: 1px 0 }
:target {
	margin-top: -4vh;
	padding-top: calc(4vh + 1px);
	position: relative;
}
:target::before {
	content: '';
	animation: target 1s;
	position: absolute;
	top: calc(1px + 4vh); right: -0.5em; bottom: 0; left: -0.5em;
	z-index: -1;
}
article h1::first-letter { text-transform: capitalize }
h1 a {
	text-decoration: none;
	color: #444;
}
.folder, .card, .edit { margin: 1em 0 }
.card {
	padding: 0.5em 1em;
	background: #f8f8f8;
	white-space: pre-wrap;
}
.card > :nth-child(2), p:first-child { margin-top: 0 }
p:first-child { margin-bottom: 0 }
.card > :last-child { margin-bottom: 0 }
.folder {
	padding: 0 1em;
	border: 1px solid #aaa;
	position: relative;
}
.folder > a:first-child {
	position: absolute;
	top: 0.5em;
	font-size: 0.5em;
}
.ta-cont, .ta-cont * { width: 100% }
.ta-cont {
	position: relative;
	width: 100%;
	min-height: 22em;
	border: none;
	overflow: visible;
}
.ta-cont * {
	position: absolute;
	top: 0; left: 0;
	font-size: 1em;
	font-family: inherit;
	line-height: 1.8;
	white-space: pre-wrap;
	margin: 0;
}
.ta-cont pre {
	padding: 3px;
	visibility: hidden;
}
.ta-cont textarea { bottom: 0 }
h1 {
	font-size: 1.4em;
	margin: 0;
}
h1:first-child { margin: 1px 0 }
h2 { font-size: 1.2em }
h3 { font-size: 1em }
h4 { font-size: 0.9em }
h5 { font-size: 0.8em }
h6 { font-size: 0.7em }
.edit:not([hidden]) { display: flex }
.edit > div { width: 50% }
.edit > div:last-child { margin-left: 1em }
small, .time { color: #666 }
ins { color: #f00 }
del { opacity: 0.9 }
body.minimize del { font-size: 0.5em }
body:not(.minimize) del { opacity: 0.4 }
ins::before { content: '[' }
ins::after { content: ']' }